.main {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    height: 30px;
    padding: 5px;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
